<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../assets/images/icon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8" />

        <%- include("./partials/imports/styles.ejs") %>

        <title>Data sharing Server</title>
    </head>
    <body>
        <div class="app">
            <div class="app__head">
                <div class="show__client-id" id="identifier">Desconocido</div>

                <div class="show__connection-state" id="connection-state">Desemparejado</div>

                <div class="show__connection-input">
                    <input type="text" class="input" id="connection-input" placeholder="Ingresa el código de la maquina a la que conectarse" />
                </div>

                <div class="show__client-name">
                    <input type="text" class="input" id="username" placeholder="Ingresa tu nombre de usuario" />
                </div>
            </div>

            <div class="app__body">
                <div class="preview">
                    <div class="preview__content" id="preview"></div>

                    <div class="preview__controls">
                        <div class="div-expand div-pad">
                            <input type="file" class="input" id="file-input" multiple />
                        </div>

                        <div class="div-expand div-pad">
                            <button id="send-files" class="button">Enviar</button>
                        </div>
                    </div>
                </div>

                <div class="chat" id="chat">
                    <div class="chat__content" id="messages"></div>

                    <div class="chat__controls">
                        <div class="div-expand div-pad">
                            <input type="text" class="input" id="message" placeholder="Escribe tu mensaje" />
                        </div>

                        <div class="div-expand div-pad">
                            <button id="send-message" class="button">Enviar</button>
                        </div>
                    </div>
                </div>

                <div class="history" id="history"></div>
            </div>
        </div>

        <script src="/socket.io/socket.io.min.js"></script>
        <script src="../scripts/index.js" type="module"></script>
    </body>
</html>
