/* Normalizing */

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.button,
.input {
    padding: 5px;
    width: 100%;
}

.a {
    margin-bottom: 10px;
    padding: 5px 0;
    display: block;
}

.p {
    word-wrap: break-word;
    font-size: x-small;
}

.image,
.video {
    margin-bottom: 10px;
    width: 100%;
}

/* Debugging */

div {
    border: 0px solid #000;
}


/* Styles For App Class Using BEM */


.app {
    height: 100%;
    width: 100%;
}

.app__head {
    display: flex;
    height: 10%;
    width: 100%;
}



.show__connection-state,
.show__client-id {
    font-size: x-small;
    height: 100%;
    width: 50%;
}

.show__connection-input,
.show__client-name {
    height: 100%;
    width: 100%;
}

.show__connection-state,
.show__connection-input,
.show__client-name,
.show__client-id {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

.app__body {
    display: flex;
    height: 90%;
    width: 100%;
}

.preview {
    width: 100%;
}

.preview__content {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    height: 90%;
}

.preview__controls {
    display: flex;
    height: 10%;
}

.history {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
}

.chat {
    width: 100%;
}

.chat__content {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    height: 90%;
}

.chat__controls {
    display: flex;
    height: 10%;
}

/* Utils */

.div-expand {
    width: 100%;
}

.div-pad {
    padding: 5px;
}

.preview__content::-webkit-scrollbar,
.chat__content::-webkit-scrollbar,
.history::-webkit-scrollbar {
    display: none;
}


/* Color Theme */

.app {
    color: #fff;
}

.app__head {
    background-color: #111111;
}

.app__body {
    background-color: #1b1b1b;
}

.preview,
.history {
    background-color: #191919;
}

.input {
    background-color: #000;
    border: 1px solid #fff;
    outline: 0 solid #000;
    border-radius: 5px;
    color: #fff;
}

.image,
.video {
    border-radius: 5px;
}

.image:hover,
.video:hover {
    box-shadow: 0 0 5px #fff;
}

.image:hover,
.video:hover,
.a:hover {
    transform: scale(0.95);
}

.button {
    background-color: #000;
    border: 1px solid #fff;
    outline: 0 solid #000;
    border-radius: 5px;
    color: #fff;

}

.button:hover,
.input:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.button:active {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}